{% extends "base.html" %}

{% block main_content %}
{% spaceless %}

<div class="row">
  {% for p in objs %}
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 shadow-sm w-100">
        <div class="bg-light d-flex justify-content-center align-items-center" 
             style="height: 250px; overflow: hidden;">
          <img src="{{ p.picture.url }}" class="card-img-top" alt="{{ p.name }}"
               style="height: 100%; width: 100%; object-fit: contain; object-position: center;">
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-text mb-3">
            <b>{{ p.name }}</b><br>
            {{ p.description }}
          </p>
          <div class="mt-auto d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" href="{% url "store:product-detail" pid=p.id %}">View</a>
              <a class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-id="{{p.id}}" data-addurl={% url "store:cart_add" pid=p.id %}>Add To Card</a>
            </div>
            <small class="text-muted">
              {% if p.discount > 0 %}
              <s>{{ p.price }} Tomans <br></s>
              {{ p.calculate_discounted_prices}} Tomans</small>
              {% else %}
              {{ p.price }} Tomans <br>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endspaceless %}
{% endblock main_content %}

{% block endofpage %}
    <script type='text/javascript'>
    {# window.alert("Hello"); #} 
    {# console.log("This is a log sample"); #}

    $('.add-to-cart-btn').click(function (e){
      // Disable Default action!
      e.preventDefault();
      console.log("Clicked");
      const pid = $(this).attr('data-id');
      const url = $(this).attr('data-addurl');
      $.get(url, function(response){
        console.log(response);
        //var item_count = Object.keys(response.cart).length;
        var item_count = 0;
        var total_count = 0;
        for(const [key, value] of Object.entries(response.cart)){
          item_count += 1;
          total_count += value;
        }
        html = item_count + "(" + total_count + ")";
        $('#cart-info').html(html);
      });
      return false;
    });

  </script>
{% endblock endofpage %}